.showcase {
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.showcase-container {
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    z-index: 1;
    box-shadow: inset 120px 100px 250px black, inset -120px -100px 250px black;
}

.showcase-container-header {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.showcase-container-header-logo {
    height: 45px;
    margin: 0 56px;
}

.showcase-container-header-btn {
    display: inline-block;
    background: #e50914;
    color: white;
    padding: 0.4rem 1.3rem;
    margin: 0 56px !important;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0, 45);
    border-radius: 2px;
    font-family: Helvetica, Arial, sans-serif;
}

.showcase-container-header-btn:hover {
    opacity: 0.9;
}

.showcase-container-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 85%;
}

.showcase-container-body-xl {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.showcase-container-body-l {
    font-size: 1.625rem;
    font-weight: 400;
    margin: 27px 0 25px 0;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.showcase-container-body-m {
    font-size: 1.2rem;
    font-weight: 400;
    padding-bottom: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.showcase-container-body-getstarted {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0, 45);
}

.showcase-container-body-getstarted > form {
    width: 750px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.showcase-container-body-getstarted-email {
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    width: 65%;
    border-radius: 2px 0 0 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0, 45);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    padding: 0 20px;
    color: #8c8c8c;
}

.showcase-container-body-getstarted-btn {
    background: #e50914;
    color: white;
    height: 100%;
    width: 35%;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 0 2px 2px 0;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0, 45);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2rem;
}

hr {
    height: 4px;
    background-color: rgb(31, 31, 31);
    border: none;
}

.option-cancelAnytime {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    padding: 50px 0 75px 0;
}

.option-cancelAnytime-left {
    width: 50%;
}

.option-cancelAnytime-left p {
    font-size: 1.8rem;
    color: white;
    padding: 30px 0;
}

.option-cancelAnytime-left-btn {
    display: inline-block;
    background: #e50914;
    color: white;
    padding: 0.8rem 1.3rem;
    margin: 0 !important;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0, 45);
    border-radius: 2px;
    font-family: Helvetica, Arial, sans-serif;
}

.option-cancelAnytime-left-btn:hover {
    opacity: 0.9;
}

.option-cancelAnytime-right {
    width: 50%;
}

.option-cancelAnytime-right img {
    object-fit: contain;
    width: 90%;
    margin: auto;
}

.option-watchAnywhere {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    padding: 50px 0 75px 0;
}

.option-watchAnywhere-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1.3rem 0;
}

.option-watchAnywhere-top p {
    font-size: 1.8rem;
    color: white;
    margin: 2rem;
}

.option-watchAnywhere-top-btn {
    display: inline-block;
    background: #e50914;
    color: white;
    padding: 0.8rem 1.3rem;
    margin: auto !important;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0, 45);
    border-radius: 2px;
    font-family: Helvetica, Arial, sans-serif;
    width: 25%;
}

.option-watchAnywhere-top-btn:hover {
    opacity: 0.9;
}

.option-watchAnywhere-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.option-watchAnywhere-bottom-col {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
}

.option-watchAnywhere-bottom-col img {
    object-fit: contain;
    width: 100%;
}

.option-watchAnywhere-bottom-col-title {
    margin: 1.2rem 0;
    color: white;
    font-size: 1.2rem;
}

.option-watchAnywhere-bottom-col-description {
    color: #8c8c8c;
    width: 80%;
    font-size: 1rem;
}

.option-choosePlan {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    padding: 50px 0 75px 0;
}

.option-choosePlan-context {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.option-choosePlan-context p {
    font-size: 1.8rem;
    color: white;
    margin: 1.5rem;
}

.option-choosePlan-context-btn {
    display: inline-block;
    background: #e50914;
    color: white;
    padding: 0.8rem 1.3rem;
    margin: 0 56px !important;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0, 45);
    border-radius: 2px;
    font-family: Helvetica, Arial, sans-serif;
}
.option-choosePlan-context-btn:hover {
    opacity: 0.9;
}

.option-choosePlan-table {
    width: 65vw;
    margin: auto;
}

.option-choosePlan-table-table {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
    border-spacing: 0;
}

.option-choosePlan-table-table thead th {
    text-transform: uppercase;
    padding: 0.8rem;
}

.option-choosePlan-table-table tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.option-choosePlan-table-table tbody tr td {
    color: #999;
    padding: 0.8rem 1.2rem;
    text-align: center;
}

.option-choosePlan-table-table tbody tr td:first-child {
    text-align: left;
}

.option-choosePlan-table-table tbody tr:nth-child(odd) {
    background: #222;
}

.faq {
    width: 70%;
    margin: auto;
    padding: 50px 0 75px 0;
}

.faq-title {
    font-size: 3.125rem;
    font-weight: bold;
    text-align: center;
}

.faq-content {
    padding: 40px 0;
    font-size: 1.6rem;
    font-weight: 400;
    width: 70%;
    margin: auto;
}

.faq-content-question {
    padding: 4px 0;
}

.faq-content-question-question {
    background: #303030;
    padding: 21px 31px;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.faq-content-question-answer {
    background: #303030;
    padding: 21px 31px;
    border-radius: 2px;
    margin: 1px 0;
    display: none;
}
.faq-content-question-answer p {
    padding: 10px 0;
}
