.nav {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    /* Animation */
    /* transition-timing-function: linear; */
    transition: all 250ms linear;
}

.nav_black {
    background-color: black;
}

.nav_logo {
    width: 100px;
    padding: 10px 20px;
    object-fit: contain;
}

.nav_avatar {
    width: 30px;
    padding: 10px 20px;
    object-fit: contain;
}
