.row {
    margin-left: 10px;
}

.row__posters {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row__posters::-webkit-scrollbar {
    display: none;
}

.row__poster {
    object-fit: contain;
    width: 100%;
    max-height: 210px;
    transition: transform 250ms linear;
    margin: 10px 20px 10px 0;
}

.row__poster:hover {
    transform: scale(1.25);
    cursor: pointer;
}

.row__trailer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
